//
// Custom checkbox
//

.custom-checkbox {
    .form-check-input ~ .form-check-label {
        cursor: pointer;
        font-size: $font-size-sm;
    }

    .form-check-input {
        &:checked {
            ~ .form-check-label {
                &::before {
                    border-color: $form-check-indicator-checked-border-color;
                }
                &::after {
                    background-image: $custom-checkbox-indicator-icon-checked;
                }
            }
        }

        &:disabled {
            ~ .form-check-label {
                &::before {
                    border-color: $form-check-indicator-disabled-bg;
                }
            }

            &:checked {
                &::before {
                    border-color: $form-check-indicator-checked-disabled-bg;
                }
            }
        }
    }
}
